:root {
  --red: #FF1A00;
  --blue: #2D3956;
  --gray: #E7E7E7;
  --active: #E0E9E9;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* HEADER BAR STYLES */

.headerBar {
  display: grid;
  width: 95%;
  margin: 10px auto 3rem;
  grid-template-columns: 60% 1fr;
  align-items: flex-start;
}

#footer {
  padding: 1rem 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: var(--blue);
  letter-spacing: 0.1rem;
  text-align: center;
}

.brandName {
  font-family: 'Permanent Marker', cursive;
  color: var(--red);
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  margin-bottom: 7px;
}

.valueProposition {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--red);
  letter-spacing: 0.1rem;
}

.weatherContainer {
  padding-top: .77rem;
}

.currentWeatherContainer {
  display: flex;
  justify-content: flex-end;
  align-self: flex-start;
}

.weatherColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weatherColumn h4 {
  padding-top: 8px;
}

.weatherRow {
  display: flex;
  margin-bottom: .5rem;
  justify-content: flex-end;
}

#degreesFahrenheit {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--red);
  letter-spacing: 0.1rem;
  text-align: right;
}

.fahrenheit {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--red);
  letter-spacing: 0.1rem;
}

#weatherDescription {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: var(--blue);
  letter-spacing: 0.2rem;
  text-align: right;
}

/* MAIN BODY CONTENT STYLES*/

.mainContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* SHAKE ANIMATION FOR WHEN DANGEROUS WEATHER WARNING APPEARS */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#weatherWarning {
  color: var(--red);
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  animation: 1s ease-out 0s 1 shake;
}

.inputContainer {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.serviceDescription {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--blue);
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.inputDialogue {
  font-family: 'Josefin Sans', sans-serif;
  color: var(--blue);
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-align: center
}

#inputForm {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

#addressInput {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid var(--gray);
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem; 
  margin: 1rem auto 10px;
}

#addressInput:focus {
  background-color: white;
  outline: none !important;
}

.addressSubmission {
  background-color: var(--blue);
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  letter-spacing: 0.1rem;
  border: 1px solid #ccc;
  align-self: flex-end;
  text-transform: uppercase;
  text-align: center;
}

.addressSubmission:hover {
  background-color: var(--red);
  cursor: pointer;
}

.addressSubmission:focus {
  outline: none !important;
}

.addressSubmission:active {
  background-color: var(--active);
}

/* MAP SECTION OF BODY. INCLUDES GOOGLE MAP AND INFORMATIONAL SCROLL WINDOW */

.mapInfoContainer {
  display: grid;
  grid-gap: 1rem;
  width: 90%;
  height: 1000px;
  margin: 2rem auto 0;
  grid-template-columns: 60% 1fr;
}

#map {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

/* INFORMATIONAL SCROLL WINDOW */

#mapInfoColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--gray);
  border: 1px solid var(--active);
  align-items: center;
  padding: 15px 5px;
  margin-bottom: 30px;  
  overflow: auto;
}

.stationInfoBlock {
  width: 100%;
  margin-bottom: 20px;
  background-color: var(--blue);
  border: 1px solid var(--active);
  padding: 10px 7px;
  cursor: default;
}

.stationInfoBlock h3 {
  color: white;
  display: inline;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  cursor: default;
  line-height: 1.5rem;
}

.stationInfoBlock h3:hover {
  color: var(--red);
  cursor: pointer;
}

.stationInfoBlock h3:active {
  color: var(--active);
}

.stationInfoBlock h6 {
  color: var(--red);
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin: 15px 0;
  text-transform: uppercase;
}

.stationInfoBlock h5 {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin: 8px 0;
}

.stationInfoBlock h5 span {
  margin-right: 5px;
}

.stationInfoBlock p {
  text-decoration: underline;
  color: var(--red);
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1rem;
  font-size: 0.75rem;
  cursor: default;
  text-transform: uppercase;
}

.stationInfoBlock p:hover {
  color: white;
  cursor: pointer;
}

.stationInfoBlock p:active {
  color: var(--active);
}

.expandButton {
  display: inline;
}

.inactive {
  display: none;
}

/* INFO WINDOW FOR EACH MAP MARKER. APPEARS ON CLICK */

#infoWindowContent {
  padding: 12px;
  background-color: var(--blue);
}

#stationAddress {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#stationLocationName {
  color: var(--red);
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 15px;
}

.infoBodyDetail {
  margin-bottom: 7px;
}

.boldInfoBodyDetail {
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin-right: 5px;
}

.lightInfoBodyDetail {
  color: var(--red);
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin-right: 5px;
}

@media only screen and (max-width: 600px) {
  .mapInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #map {
    height: 50%;
  }

  .mapInfoColumn {
    height: 50%;
  }

  .currentWeatherContainer {
    padding-top: 0;
  }

}
