* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 252, 253);
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* HEADER BAR STYLES */

.headerBar {
  display: grid;
  width: 95%;
  margin: 5px auto 3rem;
  grid-template-columns: 60% 1fr;
  align-items: center;
}

#footer {
  padding: 1rem 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  color: #f75925;
  font-weight: 300;
  letter-spacing: 0.1rem;
  text-align: center;
}

.brandName {
  font-family: 'Amatic SC', cursive;
  color: #25c3f7;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 7px;
}

.valueProposition {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.currentWeatherContainer {
  display: flex;
  justify-content: flex-end;
  padding-top: 0.75rem;
}

.weatherColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weatherColumn h4 {
  padding-top: 8px;
}

.weatherRow {
  display: flex;
  margin-bottom: .5rem;
  justify-content: flex-end;
}

#degreesFahrenheit {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  letter-spacing: 0.1rem;
  text-align: right;
}

.fahrenheit {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  letter-spacing: 0.1rem;
}

#weatherDescription {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #25c3f7;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

/* MAIN BODY CONTENT STYLES*/

.mainContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* SHAKE ANIMATION FOR WHEN DANGEROUS WEATHER WARNING APPEARS */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#weatherWarning {
  color: #f7255a;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  animation: 1s ease-out 0s 1 shake;
}

.inputContainer {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.serviceDescription {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.inputDialogue {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  text-align: center
}

#inputForm {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
}

#addressInput {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #ccc;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin: 1rem auto 10px;
}

#addressInput:focus {
  background-color: rgb(236, 244, 252);
  outline: none !important;
}

.addressSubmission {
  background-color: rgb(236, 244, 252);
  color: #f75925;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  letter-spacing: 0.1rem;
  border: 1px solid #ccc;
  align-self: flex-end;
  text-transform: uppercase;
  text-align: center;
}

.addressSubmission:hover {
  background-color: #25c3f7;
  color: rgb(250, 252, 253);
  cursor: pointer;
}

.addressSubmission:focus {
  outline: none !important;
}

.addressSubmission:active {
  background-color: #eee;
}

/* MAP SECTION OF BODY. INCLUDES GOOGLE MAP AND INFORMATIONAL SCROLL WINDOW */

.mapInfoContainer {
  display: grid;
  grid-gap: 1rem;
  width: 90%;
  margin: 1rem auto 0;
  grid-template-columns: 60% 1fr;
}

#map {
  height: 1000px;
  width: 100%;
  margin-bottom: 20px;
}

/* INFORMATIONAL SCROLL WINDOW */

#mapInfoColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: rgb(226, 240, 253);
  border: 1px solid rgb(245, 243, 243);
  align-items: center;
  padding: 15px 5px;
  margin-bottom: 30px;
  height: 1000px;
  overflow: auto;
}

.stationInfoBlock {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgb(250, 252, 253);
  border: 1px solid rgb(245, 243, 243);
  padding: 10px 7px;
}

.stationInfoBlock:hover {
  background-color: rgb(247, 247, 247);
}

.stationInfoBlock h3 {
  color: #f75925;
  display: inline;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: default;
  line-height: 1.5rem;
}

.stationInfoBlock h3:hover {
  color: #25f7c2;
  cursor: pointer;
}

.stationInfoBlock h3:active {
  color: #ccc;
}

.stationInfoBlock h6 {
  color: #f75925;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin: 15px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.stationInfoBlock h5 {
  color: #25c3f7;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin: 8px 0;
  font-weight: 300;
}

.stationInfoBlock h5 span {
  font-weight: 600;
  margin-right: 5px;
}

.stationInfoBlock p {
  text-decoration: underline;
  color: #f75925;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.75rem;
  cursor: default;
  text-transform: uppercase;
}

.stationInfoBlock p:hover {
  color: #25f7c2;
  cursor: pointer;
}

.stationInfoBlock p:active {
  color: #ccc;
}

.expandButton {
  display: inline;
}

.inactive {
  display: none;
}

/* INFO WINDOW FOR EACH MAP MARKER. APPEARS ON CLICK */

#infoWindowContent {
  padding: 12px;
  background-color: rgb(250, 252, 253);
}

#stationAddress {
  color: #f75925;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#stationLocationName {
  color: #25f7c2;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.infoBodyDetail {
  margin-bottom: 7px;
}

.boldInfoBodyDetail {
  color: #25c3f7;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin-right: 5px;
  font-weight: 700;
}

.lightInfoBodyDetail {
  color: #25c3f7;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin-right: 5px;
  font-weight: 300;
}

@media only screen and (max-width: 600px) {
  .mapInfoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #map {
    height: 500px;
  }

  .mapInfoContainer {
    height: 500px;
  }

  .currentWeatherContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  #weatherDescription {
    text-align: right;
  }
}
