* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 252, 253);
}

.headerBar {
  display: flex;
  width: 100%;
  margin-bottom: 25px;
  align-items: center;
  justify-content: space-between;
}

.brandHeadingContainer {
  padding: 15px 0 0 15px;
}

.brandName {
  font-family: 'Amatic SC', cursive;
  color: #25c3f7;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 7px;
}

.valueProposition {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.weatherContainer {
  padding: 15px 15px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.currentWeatherContainer {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.currentWeather {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  margin-right: 10px;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

#degreesFahrenheit {
  font-family: 'Josefin Sans', sans-serif;
  color: #25c3f7;
  letter-spacing: 0.1rem;
}

.fahrenheit {
  font-family: 'Josefin Sans', sans-serif;
  color: #25c3f7;
  letter-spacing: 0.1rem;
}

#weatherDescription {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #25f7c2;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

.mainContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#weatherWarning {
  color: #f7255a;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  animation: 1s ease-out 0s 1 shake;
}

.inputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 20px 0 10px 0;
}

.serviceDescription {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 13px;
}

.inputDialogue {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}

#inputForm {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
}

#addressInput {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #ccc;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.addressInput:focus {
  background-color: rgb(236, 244, 252);
}

.addressSubmission {
  background-color: rgb(236, 244, 252);
  color: #f75925;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  letter-spacing: 0.1rem;
  border: 1px solid #ccc;
  align-self: flex-end;
  text-transform: uppercase;
  text-align: center;
}

.addressSubmission:hover {
  background-color: #25c3f7;
  color: rgb(250, 252, 253);
}

.mapContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

#map {
  height: 500px;
  width: 800px;
  margin-bottom: 30px;
}

#infoWindowContent {
  padding: 12px;
  background-color: aliceblue;
}

#stationAddress {
  color: #f75925;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 5px;
}

#stationLocationName {
  color: #25f7c2;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 900;
  margin-bottom: 15px;
}

.infoBodyDetail {
  margin-bottom: 7px;
}

.boldBodyDetail {
  color: #25c3f7;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin-right: 5px;
  font-weight: 700;
}

.lightBodyDetail {
  color: #25c3f7;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin-right: 5px;
  font-weight: 300;
}