* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 252, 253);
}

/* HEADER BAR STYLES */

.headerBar {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
}

.brandHeadingContainer {
  padding-left: 15px;
}

.brandName {
  font-family: 'Amatic SC', cursive;
  color: #25c3f7;
  letter-spacing: 0.2rem;
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 7px;
}

.valueProposition {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.weatherContainer {
  display: flex;
  flex-direction: column;
}

.currentWeatherContainer {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.weatherColumn {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.weatherColumn h4 {
  padding-top: 8px;
}

.weatherRow {
  display: flex;
}

.fallbackPadding {
  padding-right: 15px;
}

.currentWeather {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  margin-right: 10px;
  font-weight: 300;
  letter-spacing: 0.2rem;
}

#degreesFahrenheit {
  font-family: 'Josefin Sans', sans-serif;
  color: #25c3f7;
  letter-spacing: 0.1rem;
}

.fahrenheit {
  font-family: 'Josefin Sans', sans-serif;
  color: #25c3f7;
  letter-spacing: 0.1rem;
}

#icon {
  height: 90px;
  width: 90px;
  padding: 10px 10px 10px 0;
}

#weatherDescription {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  color: #25f7c2;
  letter-spacing: 0.2rem;
  font-weight: 500;
}

/* MAIN BODY CONTENT STYLES*/

.mainContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

/* SHAKE ANIMATION FOR WHEN DANGEROUS WEATHER WARNING APPEARS */

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

#weatherWarning {
  color: #f7255a;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  animation: 1s ease-out 0s 1 shake;
}

.inputContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  margin: 20px 0 10px 0;
}

.serviceDescription {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  font-weight: 500;
  letter-spacing: 0.1rem;
  margin-bottom: 13px;
}

.inputDialogue {
  font-family: 'Josefin Sans', sans-serif;
  color: #f75925;
  font-weight: 300;
  letter-spacing: 0.1rem;
  margin-bottom: 10px;
}

#inputForm {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
}

#addressInput {
  width: 100%;
  padding: 7px 10px;
  border: 1px solid #ccc;
  background-color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 10px;
}

#addressInput:focus {
  background-color: rgb(236, 244, 252);
  outline: none !important;
}

.addressSubmission {
  background-color: rgb(236, 244, 252);
  color: #f75925;
  font-family: 'Josefin Sans', sans-serif;
  padding: 10px;
  letter-spacing: 0.1rem;
  border: 1px solid #ccc;
  align-self: flex-end;
  text-transform: uppercase;
  text-align: center;
}

.addressSubmission:hover {
  background-color: #25c3f7;
  color: rgb(250, 252, 253);
}

.addressSubmission:focus {
  outline: none !important;
}

.addressSubmission:active {
  background-color: #eee;
}

/* MAP SECTION OF BODY. INCLUDES GOOGLE MAP AND INFORMATIONAL SCROLL WINDOW */

.mapInfoContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 20px;
}

#map {
  height: 500px;
  width: 600px;
  margin-bottom: 30px;
}

/* INFORMATIONAL SCROLL WINDOW */

#mapInfoColumn {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: rgb(226, 240, 253);
  border: 1px solid rgb(245, 243, 243);
  align-items: center;
  padding: 15px 5px;
  margin-bottom: 30px;
  height: 500px;
  overflow: auto;
}

.stationInfoBlock {
  width: 100%;
  margin-bottom: 20px;
  background-color: rgb(250, 252, 253);
  border: 1px solid rgb(245, 243, 243);
  padding: 10px 7px;
}

.stationInfoBlock:hover {
  background-color: rgb(247, 247, 247);
}

.stationInfoBlock h3 {
  color:  #f75925;
  display: inline;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  font-weight: 500;
  text-transform: uppercase;
  cursor: default;
  line-height: 1.5rem;
}

.stationInfoBlock h3:hover {
  color: #25f7c2;
}

.stationInfoBlock h3:active {
  color: #ccc;
}

.stationInfoBlock h6 {
  color:  #f75925;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin: 15px 0;
  font-weight: 700;
  text-transform: uppercase;
}

.stationInfoBlock h5 {
  color:  #25c3f7;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin: 8px 0;
  font-weight: 300;
}

.stationInfoBlock h5 span {
  font-weight: 600;
  margin-right: 5px;
}

.stationInfoBlock p {
  text-decoration: underline;
  color: #f75925;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 400;
  font-size: 0.75rem;
  cursor: default;
  text-transform: uppercase;
}

.stationInfoBlock p:hover {
  color: #25f7c2;
}

.stationInfoBlock p:active {
  color: #ccc;
}

.expandButton {
  display: inline;
}

.inactive {
  display: none;
}

/* INFO WINDOW FOR EACH MAP MARKER. APPEARS ON CLICK */

#infoWindowContent {
  padding: 12px;
  background-color: rgb(250, 252, 253);
}

#stationAddress {
  color: #f75925;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 10px;
}

#stationLocationName {
  color: #25f7c2;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 700;
  margin-bottom: 15px;
}

.infoBodyDetail {
  margin-bottom: 7px;
}

.boldInfoBodyDetail {
  color: #25c3f7;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin-right: 5px;
  font-weight: 700;
}

.lightInfoBodyDetail {
  color: #25c3f7;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 0.2rem;
  margin-right: 5px;
  font-weight: 300;
}